ul li{
	list-style: none;
	padding-bottom:20px;
}

button{
	width:100%;
}

.first-heading{
	margin-bottom:35px;
	    color: green;
}


.login-card{
	padding:30px;
}

/* .............header nav bar.........  */
.navbar-toggle {
    padding: 9px 55px !important;
           }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.right-side{
	border-right:3px solid green;
}

/* ............... end of it ...............  */


/* ............... go registration site ............ */
.go-registration{
	 margin-top: 40px;
}

.go-registration a{
	text-decoration:none;
	color:black; 
}

.go-registration a:hover{
	padding: 3px; 
	color:#1f1f14;
	border-bottom: 2px solid green;
}
/* .............. end of it ........ */

/*advertise image*/
		.advertise-img{
			width: 100%;
		    height: 55%;
		    padding: 20%;

		     display: block;
		}

		.advertise-content{
			padding:3%;
		}





.overlay {


  position: absolute;
  top: 30%;
  bottom: 30%;
  left:30%;
  right: 30%;
  height: 40%;
  width: 40%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2d862d;
}

.img-content:hover .overlay {
  opacity: 1;
  
}

.text {
	
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
     transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/*end of it*/

.allprofile img{
	height:30%;
	width:100%;
	padding:25px;
}


/*no data*/
.no-data{
	margin-top:100px;
	font-family: Arial, Helvetica, sans-serif;
}


/*table info border*/
.content-border
{
	border:1px solid green;
}


.deleted-data{
	padding:30px;
}

h3{
	padding:20px;
	color:green;
	font-weight: 600 !important;
	text-shadow: 2px 1px red;
}

h1{
	color:#669999;
	font-weight: 600 !important;
	text-shadow: 2px 1px #003300;
}

.single-profile{
	margin-bottom: 25px;
    margin-top: 55px;
}

.member-action{
	background:#e0e0d1;
	padding:5px;
	font-size: 12px;
}

.member-action:hover{
	text-decoration: none;
    color:#f5f5f0;
    background: black;

}


.front-image{
	width: 80%;
    height: 70%;
}

.card {
  box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.own-profile{
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:10px;
	margin-bottom:30px;
}

.own-profile>img{
	margin-left:9%;
	box-shadow: 2px 4px 4px 2px #4d4d33;
	border-radius: 100px;
}

.edit-btn:hover{
    text-decoration: none;
    color:white;
}

.own-profile>h4{
	margin-top:20px;
	margin-bottom:18px;
}

.own-profile>p{
	font-weight:bold;
}